
/**************************************************  html and body tag defaults  **************************************************/

* {
/*    border: 1px solid blue;               /* for debugging: show border around elements*/ 
    padding: 0;                             /* set default padding to 0  */
    margin: 0;                              /* set default margins to 0. */
    box-sizing: border-box;                 /* allows width and hieght to include padding and border */
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    /*background: url("../image/Lens1.jpg") repeat left top;*/
}


/**************************************************  user input box defaults  **************************************************/

/*div.inputfieldribbon {
    display: flex;
    flex-grow: 1;
    background-color: rgba(153, 153, 153, 0.7);
    justify-content: center;
    align-items: center;
    width: 100%;
}
*/
div.inputfieldcolumn {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    /*background-color: grey;*/
}

div.inputfieldrow {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.inputfieldrow > button:nth-child(1) {
    margin-right: 5px;
}

div.inputfieldrow > button:nth-child(2) {
    margin-left: 5px;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

input {
    position: relative;
}


/**************************************************  modal pop-up  **************************************************/

.modalDialog {
    position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/**************************************************  page resolutions  **************************************************/

@media screen and (max-width: 500px) {
    header > div > div:nth-child(2) {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 501px) {
    header > div > div:nth-child(2) {
        font-size: 4rem;
    }
}

@media screen and (min-width: 900px) {
    header > div > div:nth-child(2) {
        font-size: 6rem;
    }
}
