
/* Create three columns of equal width */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.buttoncenter {
    text-align: center;
}

table {
    display: table;
    text-align: left;
    background: lightblue;
    padding: 0px, 3px;
    margin: 10px;
    box-shadow: 3px 3px;
}

td {
    padding: 2px;
    border-color: gray;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

tbody > tr:nth-child(even) {
    background-color: white;
}

tbody > tr:nth-child(odd) {
    background-color: lightgray;
}

.movieMain, .movieTab {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.movieTop, .movieDetail {
    display: flex;
    flex-direction: row;
}

button {
    width: 100px;
}

.movieDetail {
    width: 80%;
    justify-content: center;
}

.movieDetailMsg {
    display: flex;
    flex-direction: column;
}

.poster {
    padding-right: 10px;
}

.btnInfoAdd {
    width: 45px;
}

.btnRemove {
    width: 65px;
}
