<style>
body{
  background: #grey;
}
h1{
  text-align: center;
}
.SearchBar{
  input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
}

{
   box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
   float: right;;
   width: 33.3%;
   padding: 8px;
}

.columns1 {
   float: right;
   width: 33.3%;
   padding: 8px;
}
/* Style the list */
.Top {
   list-style-type: georgian;
   border: 1px solid #eee;
   margin: 0;
   padding: 0;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}
.Upcoming {

   list-style-type: none;
   border: 1px solid #eee;
   margin: 0;
   padding: 0;
   -webkit-transition: 0.3s;
   transition: 0.3s;
}

/* Add shadows on hover */
.Top:hover {
   box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.Upcoming:hover {
   box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.Top .header {
   background-color: #111;
   color: white;
   font-size: 25px;
}
.Upcoming .header {
   background-color: #111;
   color: white;
   font-size: 25px;
}

/* List items */
/*
.Top li {
   border-bottom: 1px solid #eee;
   padding: 20px;
   text-align: center;
}
*/

/* Grey list item
.Top .grey {
   background-color: #eee;
   font-size: 20px;
}
*/
/* The "Sign Up" button */
/*.button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
}
*/

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
   .columns {
       width: 100%;
   }
}


</style>
