<!DOCTYPE html>
<html lang="en">

<head>
    <title>CountDown -- Television</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/movies.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {{template "header" .}}

    <img src="../img/diningPhilo.svg" id="huns" width="200" height="200">
    <center>
        <form method="POST">
            <div id="mass">
                <div class="SearchBar">
                    <input id="s" type="text" name="search" placeholder="Search...">
                    <button class="specify" name="cmdSearch" value="movies_tv">Movies & TV</button>
                    <button class="specify" name="cmdSearch" value="games">Games</button>
                </div>

                {{$log := .User.LoggedIn}}
                <div class="movieMain">
                    <div class="movieTop">
                        <div class="movieTab">
                            <h2>Top Rated</h2>
                            <table style="font-size: 1.25rem">
                                <thead style="font-size: 1rem">
                                    <td>Detail</td>
                                    <td>Show Title</td>
                                    <td>Rating</td>
                                    {{if $log}}<td style="width: 60px">Watch / Fav</td>{{end}}
                                </thead>
                                <tbody>
                                    {{range $idx, $data := .Top}}
                                    <tr>
                                        <td class="buttoncenter"><button class="btnInfoAdd" type="submit" name="cmdID" value="{{$data.ID}}">Info</button></td>
                                        <td>{{$data.Title}}</td>
                                        <td>{{$data.Rating}}</td>
                                        {{if $log}}<td class="buttoncenter"><button class="btnInfoAdd" type="submit" name="cmdAdd" value="{{$data.ID}}">Add</button></td>{{end}}
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                        <div class="movieTab">
                            <h2>Popular</h2>
                            <table style="font-size: 1.25rem">
                                <thead style="font-size: 1rem">
                                    <td>Detail</td>
                                    <td>Movie Title</td>
                                    <td>Rating</td>
                                    {{if $log}}<td style="width: 60px">Watch / Fav</td>{{end}}
                                </thead>
                                <tbody>
                                    {{range $idx, $data := .Pop}}
                                    <tr>
                                        <td class="buttoncenter"><button class="btnInfoAdd" type="submit" name="cmdID" value="{{$data.ID}}">Info</button></td>
                                        <td>{{$data.Title}}</td>
                                        <td>{{$data.Rating}}</td>
                                        {{if $log}}<td class="buttoncenter"><button class="btnInfoAdd" type="submit" name="cmdAdd" value="{{$data.ID}}">Add</button></td>{{end}}
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="tvmodal" class="modalDialog">
                        <div>
                            <a href="#close" title="Close" class="close">X</a>
                            <img class="poster" src="{{.MovieTvGame.Image}}">
                            <div class="movieDetailMsg">
                                <h6>{{.MovieTvGame.Description}}</h6>
                                <h6>{{.MovieTvGame.TVEpisodes}} Episodes over {{.MovieTvGame.TVSeasons}} Seasons.</h6>
                                <h6>Genres:{{range $idx, $g := .MovieTvGame.Genres}}&nbsp{{$g}}&nbsp{{end}}</h6>
                            </div>
                       </div>
                    </div>

                </div>
        </form>
    </center>

</body>