html, body, #atf, #btf, #nav{
    padding: 0;
    margin: 0;
    border:0;
    height: 100%;
    /*  box-sizing: border-box*/;
}


body{
    background-color: white;
}

a{
    color: white;
}



#MainLogo img{
    position: relative;
    width: 25%;
    height: 25%;
    top:0;
    left:40%;
    bottom: 0;

}



#s{
    width:35%;

}

#down{

    border-collapse: collapse;
    border: 1px solid black;
    font-family: fantasy;
    width:50%;
}



#submit{
    font-family: fantasy ;
}


#nav {

    /*position: fixed;*/
    top: 0;
    min-width: 100%;
    height: 60px;
    border-bottom: 1px inset black;
    font-family:Impact, Charcoal, sans-serif; /*hello this is change*/
    font-size: 24px;
    display: flex;
    align-items: center;
    background-color: #364f90;
}

#nav h1{
    color: white;
}
body{
    color: black;
}

#nav ul{
    list-style: none;
    padding:0;
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    width:100%;
}

#nav ul li{
    margin-right: 10px;
    display: block;
    text-align:right;
    font-family: Impact, Charcoal, sans-serif;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400);

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50%;
  height: auto;
  font-size: 16px;
  background-image: url('searchicon.png');
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 12px 20px 12px 40px;*/
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

h4 {
    border:0 solid #fff;
    border-bottom-width:1px;
    padding-bottom:10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}



/*----------------------------------Media Queries------------------------------------------------------*/

@media screen and (max-width:1000px){
    #nav img{
        display: none;
    }

    #nav{
        width:auto;
    }

    #MainLogo{
        justify-content: center;
    }
}


@media screen and (max-width:800px){
    #nav ul{

        align-content: center;
        justify-content: center;
    }
    #nav h1{
        display: none;
    }
}

@media screen and (max-width:700px)
{
    #MainLogo{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height: 500px){
    #MainLogo img{
        display:none;
    }
}

@media screen and (max-height: 320px)
{
    #nav ul{
        font-size: 20px;
    }
}
